{% extends "Base.html" %}

{% block content %}

<main class="container py-5">

    <section class="card card-body">
        <h1 class="display-1 text-center" >Hello World</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus delectus officia velit illum aut sapiente
            optio repellat, tempore quas obcaecati deserunt dolor. Magni, minima molestias qui officia autem voluptates
            delectus.</p>
            
            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Sign In
                </a>
                <a class="btn btn-secondary" href="/signup/">
                    Sign Up
                </a>
            </div>
    </section>

</main>
{% endblock %}